*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/dictionaries/*
/.idea/caches/*
/.idea/misc.xml
.DS_Store
/build
/captures
.externalNativeBuild
app/src/main/res/raw/todo.txt
app/release/*
app/build/outputs/apk/*
.s3cfg
app/src/main/res/raw/awsconfiguration.json
